<!DOCTYPE html>

<html>
<head>
   
    <meta charset="utf-8" />
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
     rel="stylesheet" 
     integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
     crossorigin="anonymous">
    <title></title>
    <link rel="stylesheet" href="/css/list-of-user.css">
</head>
<body>

    <div class="margin">
@foreach (var user in Model)
{
   
    <div class="main-div">
       <div class="inner-div">
        <div class="item main-div__center"><img src="/images/@user.Png" alt="User photo" width="150" height="150"></div>
        <div class="item">
                    <p>Name : </p>
                    <p> @user.Name</p>
       </div>
        <div class="item">
                    <p>Password : </p>
                    <p>@user.Password</p>
           </div>
        <div class="item">
                    <p>Email :</p>
                    <p>@user.Email</p>
        </div>
        
        <div class="main-div__delete-button">
     @using (Html.BeginForm("DeleteUser","UserList",FormMethod.Get)){
         
            <input type="hidden" id="email" name="email" value=@user.Email>            
            <input type="submit" value="Delete">
     }
        </div>
       </div>
    </div>
  

 
}
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" 
crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" 
integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" 
crossorigin="anonymous"></script>
</body>
</html>