<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     

    <link rel="stylesheet" href="/css/inputstyle.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
  </head>
  <style>
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    margin-top: 75px;
    border: 3px solid #080808;
    border-radius: 2%;
    background-color: gray;
}

.input {
    justify-content: center;
    margin: 10px 20px;
}

.size {
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;
}
.width {
    width: 270px;
    height: 630px;
    background-color: #7E7E7E;
}


  </style>
  <body class="bg">
    <div class="container">
      <form method="post" enctype="multipart/form-data">
      <div class="login">

        <div class="input">
          <div>
          <img class="size" id="img" class="cover-image" src="/user/user-icon.png" />
          </div>
        </div>
      
        <div class="input inputBox">
          <input type="text" name="Name" required="required" />
          <span>First Name</span>
          <i></i>
        </div>
       
       
        <div class="input inputBox">
          <input type="text" name="Password" required="required" />
          <span>Password</span>
          <i></i>
        </div>
      

     
        <div class="input inputBox">
          <input type="text" name="Email" required="required" />
          <span>E-mail</span>
          <i></i>
        
        </div>
    
        <div class="input inputBox">
          <input
            type="file"
            name="Png"
            onchange="loadFile(event)"
            id="getval"
            required="required"
          />
          <span>Png</span>
          <i></i>
        </div>

        <div class="input form-group">
          <label for="isAdded">@ViewBag.user</label>
        </div>
     
        
        <div class="input form-group d-grid gap-2 ">
          <div><input class="buttons" type="submit" value="Submit" /></div>
        </div>
      
      </form>
      <form action="/UserList/ListOfUser">
         

          
          <div class="input form-group d-grid gap-2 ">
              <div><input type="submit" class="buttons" value="Delete User" /></div>
          </div>
          
          
     </form>

      </div>

    </div>


    <script>

      var loadFile = function(event) {
        var image = document.getElementById('img');
        image.src = URL.createObjectURL(event.target.files[0]);
          
      };
      </script>
  </body>
</html>

