<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     

    <link rel="stylesheet" href="/css/inputstyle.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
  </head>
  <style>







  </style>
  
  <body class="body-image">
    
    <div class="container">
      <form method="post" enctype="multipart/form-data">
      <div class="login">

        <div class="login__input-margin">
          <div>
          <img class="login__image-size cover-image" id="img" src="/user/user-icon.png" />
          </div>
        </div>
      
        <div class="login__input-margin inputBox">
          <input type="text" name="Name" required="required" />
          <span>First Name</span>
          <i></i>
        </div>
               
        <div class="login__input-margin inputBox">
          <input type="text" name="Password" required="required" />
          <span>Password</span>
          <i></i>
        </div>
    
        <div class="login__input-margin inputBox">
          <input type="text" name="Email" required="required" />
          <span>E-mail</span>
          <i></i>
          
        
        </div>
        <div class="login__input-margin inputBox">
          <input
            type="file"
            name="Png"
            onchange="loadFile(event)"
            id="getval"
            required="required"
          />
          <span>Png</span>
          <i></i>
        </div>

        <div class="login__input-margin form-group">
          <label for="isAdded">@ViewBag.user</label>
        </div>
     
        
        <div class="login__input-margin form-group d-grid gap-2 ">
          <div><input type="submit" class="button-style" value="Submit" /></div>
        </div>
  
      </form>
      <form action="/UserList/ListOfUser">
         
          
          
          <div class="login__input-margin form-group d-grid gap-2 ">
              <div><input type="submit" class="button-style" value="Delete User" /></div>
          </div>
          
          
     </form>

      </div>

    </div>


    <script>

      var loadFile = function(event) {
        var image = document.getElementById('img');
        image.src = URL.createObjectURL(event.target.files[0]);
          
      };
      </script>
  </body>
</html>

